.vscode
.vscode-test
.vscode-test.mjs
.scannerwork
node_modules
src/**
out/**
coverage/**
coverage-integration/**
package-lock.json
tsconfig.json
esbuild.js
eslint.config.mjs
sonar-project.properties
.gitignore
**/*.map
